<footer class="bg-light theme3 position-relative">
  <!-- footer bottom start -->
  <div class="footer-bottom pt-80 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-30">
          <div class="footer-widget mx-w-400">
            <div class="footer-logo mb-35">
              <a href="index.html">
                <h2>Beauty Center</h2>
              </a>

            </div>
            <p class="text mb-30">We are a team of designers and developers that create high quality
              Angular, Reactjs, Vuejs Projects</p>
            <div class="address-widget mb-30">
              <div class="media">
                                <span class="address-icon mr-3">
                                    <img src="assets/img/icon/phone3.png" alt="phone">
                                </span>
                <div class="media-body">
                  <p class="help-text text-uppercase">NEED HELP?</p>
                  <h4 class="title text-dark"><a href="tel:+1(123)8889999">(+216) 52 345 678</a></h4>
                </div>
              </div>
            </div>

            <div class="social-network">
              <ul class="d-flex">
                <li><a href="https://www.facebook.com/" target="_blank"><span
                  class="icon-social-facebook"></span></a></li>
                <li><a href="https://twitter.com/" target="_blank"><span
                  class="icon-social-twitter"></span></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><span
                  class="icon-social-youtube"></span></a></li>
                <li class="mr-0"><a href="https://www.instagram.com/" target="_blank"><span
                  class="icon-social-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Information</h2>
              </div>
            </div>
            <!-- footer-menu start -->
            <ul class="footer-menu">
              <li><a href="#">Delivery</a></li>
              <li><a href="about-us.html">About us</a></li>
              <li><a href="#">Secure payment</a></li>
              <li><a href="contact.html">Contact us</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Stores</a></li>
            </ul>
            <!-- footer-menu end -->
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Custom Links</h2>
              </div>
            </div>
            <!-- footer-menu start -->
            <ul class="footer-menu">
              <li><a href="#">Legal Notice</a></li>
              <li><a href="#">Prices drop</a></li>

              <li><a href="#">New products</a></li>

              <li><a href="#">Best sales</a></li>

              <li><a href="login.html">Login</a></li>

              <li><a href="myaccount.html">My account</a></li>
            </ul>
            <!-- footer-menu end -->
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Newsletter</h2>
              </div>
            </div>
            <p class="text mb-20">You may unsubscribe at any moment. For that purpose, please find our
              contact info in the legal notice.</p>
            <div class="nletter-form mb-35">
              <form class="form-inline position-relative"
                    action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                    target="_blank" method="post">
                <input class="form-control" type="text" placeholder="Your email address">
                <button class="btn nletter-btn text-capitalize" type="submit">Sign
                  up</button>
              </form>
            </div>

            <div class="store d-flex">
              <a href="https://www.apple.com/" class="d-inline-block mr-3"><img
                src="assets/img/icon/apple.png" alt="apple icon"> </a>
              <a href="https://play.google.com/store/" class="d-inline-block"><img
                src="assets/img/icon/play.png" alt="apple icon"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom end -->
  <!-- coppy-right start -->
  <div class="coppy-right pb-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="text-left">
            <p class="mb-3 mb-md-0">Copyright &copy; 2020 <a href="https://hasthemes.com/">Nouha</a>
     </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="text-left">
            <img src="assets/img/payment/1.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- coppy-right end -->
</footer>
<!-- footer end -->

<!-- modals start -->
<!-- first modal -->
<div class="modal fade theme3 style1" id="quick-view" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 mx-auto col-lg-5 mb-5 mb-lg-0">
            <div class="product-sync-init mb-20">
              <div class="single-product">
                <div class="product-thumb">
                  <img src="assets/img/hot-deals/thumb/4.jpg" alt="product-thumb">
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <img src="assets/img/hot-deals/thumb/5.jpg" alt="product-thumb">
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <img src="assets/img/hot-deals/thumb/6.jpg" alt="product-thumb">
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <img src="assets/img/hot-deals/thumb/7.jpg" alt="product-thumb">
                </div>
              </div>
              <!-- single-product end -->
            </div>

            <div class="product-sync-nav">
              <div class="single-product">
                <div class="product-thumb">
                  <a href="javascript:void(0)"> <img src="assets/img/hot-deals/thumb/4.2x.jpg"
                                                     alt="product-thumb"></a>
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <a href="javascript:void(0)"> <img src="assets/img/hot-deals/thumb/5.2x.jpg"
                                                     alt="product-thumb"></a>
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <a href="javascript:void(0)"><img src="assets/img/hot-deals/thumb/6.2x.jpg"
                                                    alt="product-thumb"></a>
                </div>
              </div>
              <!-- single-product end -->
              <div class="single-product">
                <div class="product-thumb">
                  <a href="javascript:void(0)"><img src="assets/img/hot-deals/thumb/7.2x.jpg"
                                                    alt="product-thumb"></a>
                </div>
              </div>
              <!-- single-product end -->
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-md-0">
            <div class="modal-product-info">
              <div class="product-head">
                <h2 class="title">New Balance Running Arishi trainers in triple</h2>
                <h4 class="sub-title">Reference: demo_5</h4>
                <div class="star-content mb-20">
                  <span class="star-on"><i class="fas fa-star"></i> </span>
                  <span class="star-on"><i class="fas fa-star"></i> </span>
                  <span class="star-on"><i class="fas fa-star"></i> </span>
                  <span class="star-on"><i class="fas fa-star"></i> </span>
                  <span class="star-on"><i class="fas fa-star"></i> </span>
                </div>
              </div>
              <div class="product-body mb-40">
                <div class="d-flex align-items-center mb-30">
                  <h6 class="product-price"><del class="del">$23.90</del>
                    <span class="onsale">$21.51</span></h6>
                  <span class="badge position-static bg-dark p-2 rounded-0 ml-2">Save 10%</span>
                </div>
                <p>Break old records and make new goals in the New Balance® Arishi Sport v1.</p>
                <ul>
                  <li>Predecessor: None.</li>
                  <li>Support Type: Neutral.</li>
                  <li>Cushioning: High energizing cushioning.</li>
                </ul>
              </div>
              <div class="product-footer">
                <div class="product-count style d-flex flex-column flex-sm-row my-4">
                  <div class="count d-flex">
                    <input type="number" min="1" max="10" step="1" value="1">
                    <div class="button-group">
                      <button class="count-btn increment"><i
                        class="fas fa-chevron-up"></i></button>
                      <button class="count-btn decrement"><i
                        class="fas fa-chevron-down"></i></button>
                    </div>
                  </div>
                  <div>
                    <button class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5">
                      <span class="mr-2"><i class="ion-android-add"></i></span>
                      Add to cart
                    </button>
                  </div>
                </div>
                <div class="addto-whish-list">
                  <a href="#"><i class="icon-heart"></i> Add to wishlist</a>
                  <a href="#"><i class="icon-shuffle"></i> Add to compare</a>
                </div>
                <div class="pro-social-links mt-10">
                  <ul class="d-flex align-items-center">
                    <li class="share">Share</li>
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-google"></i></a></li>
                    <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

